.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ImageList{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100px;
  width: 100px;
}
body {
  display: grid;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}
.filters {
  display: grid;
  color: chartreuse;
  background-color: black;
}
.page-body{
  height: 100%;
  width: 100%;
}
.page-header{
  color: chartreuse;
  background-color: black;
  width: 100%;
}

.filterBar select{
 color: chartreuse;
 background-color: black;
}
form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
