.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ImageList{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100px;
  width: 100px;
}
body {
  display: grid;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}

.page-body{
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-header{
  color: chartreuse;
  background-color: black;
  width: 100%;
}

.filterBar select{
 color: chartreuse;
 background-color: black;
}
form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
ul{
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  
}
li{
  list-style: none;
  border: black 2px solid;
  border-radius: 5%;
}
li p{
  border-radius: 20%;
  text-transform: uppercase;
  text-align: center;
  border: black 2px solid;
  background-color: black;
  color: chartreuse;
  font-family: fantasy;
}
li img{
  border-radius: 20%;
  height: 100%;
  width: 100%;
  border: chartreuse 2px solid;
}
.dropdown{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.filters select{
  color: chartreuse;
  background-color: black;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;

}
.greeting{
  text-transform: uppercase;
  text-align: center;
  font-family: fantasy;
}